body {
  background-color: #BFE9DB;
  color: blue;
  /*If you don't want to use the default san-serif font, etc. do this*/
  /* font-family: verdana, sans-serif; */
  /*backup fonts*/
  font-family: 'Merriweather', serif;
  height: 500px;
  /*changes all the margins of the body tag */
  margin: 0;
  text-align: center;
}

/*Sets the h1 elements top margin to 0*/
h1 {
  margin: 50px auto 0px auto;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /*root em ignore parent element font sizes*/
                      /* 100% == 16px ... 90px /16 == 562.5%*/
                     /* 1em == 16px*/
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem; /*equivalent to 40 px ... 40/ 16 == 2.5 rem*/
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #11999E;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.mountain {
  height: 400px;
}

.photo{
  height: 200px;
}

.computer{
  /*makes the image have a circular shape border... the image is circular instead of being a box*/
  border-radius: 100%;
}

.top-div {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  /* background-color: #C0FFB3;
  text-align: center;
  /*height: 200px;
  margin-left: 150px;
  padding: 20px;
  width: 70%; */
}

.bottom-container {
  /*background-color: #52DE97;
  /*height: 200px;
  margin-left: 150px;
  padding-bottom: 40px;
  padding: 20px;
  text-align: center;
  width: 70%; */
}
